#demo2
    .box
        background-color: #754c67
        border: 1px solid #9a9595
        border-radius: 5px
        width: 130px
        height: 60px
        padding: 5px
        transition: .5s
        h3
            color: #ffffff
        &:hover
            cursor: pointer
            border: 3px solid #693f5b
            background-color: #343f43
                   
    @media screen and (max-width: 800px)
        .box
            display: flex
            align-items: center
            background-color: #5f6c94
            width: 90px
            height: 50px
            h3
                font-size: 20px

    @media screen and (max-width: 500px)
        .box
            display: flex
            align-items: flex-start
            background-color: #360808
            height: 70px
            width: 60px

    
        