#demo3
    .box
        width: 150px
        height: 150px
        border-radius: 50%
        background-color: #9b650f
        transition: 2s
        h3
            color: #ffffff
            font-weight: 600
        &:hover
            border-radius: 30px